@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
	font-family: 'Open Sans';
}

h1, h2 {
	display: flex;
	justify-content: center;
}
/* Button */

input[type="submit"], input[type="button"]{
	border: none;
	color: white;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	border-radius: 4px;
	position: relative;
	display: inline-block;
}

button {
	border: none;
	color: white;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.create {
	background-color: #4CAF50;
	margin-bottom: 10px;
}

.close {
	background-color: red;
}

.create:hover {
	background-color: #047404;
}
.close:hover {
	background-color: #940303;
}

/* List */

.list {
	display: flex;
	justify-content: space-around;
}

.list div {
	border-radius: 10px;
	width: 30%;
	height: 80%;
	max-height: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.todo{
	background-color: red;
}

.inWork {
	background-color: yellow;
}

.finished{
	background-color: green;
}

/* Cards */

div .card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgb(194, 194, 194);
	width: 90%;
	margin-bottom: 15px;
}

div .card h3 {
	margin-top: 10px;
	margin-bottom: 0px;
	max-width: 90%;
	max-height: 50;
}

div .card p {
	font-size: 0.9rem;
	padding: 0px 10px 0px 10px;
	max-width: 90%;
	max-height: 50;
}

#dateFinished {
	background: transparent;
	margin-bottom: 10px;
	border-width:0px;
	border:none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.card .delete {
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	border-radius: 4px;
	background-color: red;
	margin-bottom: 10px;
}

textarea{
	width: 80%;
	height: 100px;
}

[contenteditable] {
	outline: 0px solid transparent;
  }

/* Create UI */

.createui {
	background-color: rgb(194, 194, 194);
	display: none;
	margin-bottom: 50px;
	justify-content: center;
	align-content: center;
	max-width: 1250px;
}

.createui input[type="text"]{
	margin-top: 20px;
}

.createui form {
	margin-left: 25%;
	margin-right: 19%;
}

.ui {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Settings */

.dropdown {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	list-style: none;
	width: 100px;
	border-radius: 4px;
	background-color: #4CAF50;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown li {
	position: relative;
}

.dropdown li a {
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 10px;
}

.dropdown li ul {
	position: absolute;
	top: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	line-height: normal;
	background-color: #cccccc;
}

.dropdown li ul li a {
	text-align: left;
	color: #000000;
	font-size: 14px;
	padding: 10px;
	display: block;
	white-space: nowrap;
}

.dropdown li ul li a:hover {
	background-color: #148005;
	color: #ffffff;
}

.dropdown li ul li ul {
	left: 100%;
	top: 0;
}

ul li:hover>a {
	background-color: #0abf53;
	color: #ffffff !important;
}

ul li:hover>ul {
	display: block;
}

.overflow-hidden {
 overflow: hidden;
}

/* Animation */

.drop-in {
 animation: drop-in 1s ease 200ms backwards;
}

.drop-in-2 {
 animation: drop-in 1200ms ease 500ms backwards;
}

@keyframes drop-in {
 from {
  opacity: 0;
  transform: translateY(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}

.dropdown-menu {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: 1;
}

.dropdown-menu li:first-child {
  cursor: default;
}

.dropdown-menu a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dropdown-menu a:hover {
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all .5s, background, 2s .5s linear;
  transition: all .5s, background 2s .5s linear;
}