@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1, h2, h3, p {
	font-family: 'Open Sans';
}

h1 {
	display: flex;
	justify-content: center;
}
/* Button */

input[type="submit"], input[type="button"]{
	border: none;
	color: white;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	border-radius: 4px;
}

.create {
	background-color: #4CAF50;
	margin-bottom: 10px;
}

.close {
	background-color: red;
}

.create:hover {
	background-color: #047404;
}
.close:hover {
	background-color: #940303;
}

/* List */

.list {
	display: flex;
	justify-content: space-around;
}

.list div {
	border-radius: 10px;
	width: 30%;
	height: 80%;
	max-height: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	
}

.todo{
	background-color: red;
}

.inWork {
	background-color: yellow;
}


.finished{
	background-color: green;
}

div .card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgb(194, 194, 194);
	width: 90%;
	margin-bottom: 15px;
}

div .card h3 {
	margin-top: 10px;
	margin-bottom: 0px;
}

div .card p {
	font-size: 0.9rem;
	padding: 0px 10px 0px 10px;
	max-width: 90%;
	max-height: 50;
}

#dateFinished {
	background: transparent;
	margin-bottom: 10px;
	border-width:0px;
	border:none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.card .delete {
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	border-radius: 4px;
	background-color: red;
	margin-bottom: 10px;
}

textarea{
	width: 80%;
	height: 100px;
}

[contenteditable] {
	outline: 0px solid transparent;
  }

/* Create UI */

.createui {
	background-color: rgb(194, 194, 194);
	display: none;
	margin-bottom: 50px;
	justify-content: center;
	align-content: center;
	max-width: 1250px;
}

.createui input[type="text"]{
	margin-top: 20px;
}

.createui form {
	margin-left: 25%;
	margin-right: 19%;
}

.ui {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Settings */

.dropbtn {
	border: none;
	color: white;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	border-radius: 4px;
	background-color: blue;
	margin-bottom: 10px;
}
  
  .dropdown {
	position: relative;
	display: inline-block;
	
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	float: right;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(2, 2, 121);}